* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.contain {
    background-color: white;
    height: 60vh;
    width: 60vw;
    min-width: 688px;
    min-height: 504px;
    max-width: 688px;
    max-height: 504px;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
    gap: 2rem;
}

.right img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: hsl(234, 29%, 20%);
}

ol {
    list-style-type: none;
}

h1 {
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}

p, ol {
    font-weight: 700;
    font-size: 12px;
}

li {
    margin: 5px 0px;
}

label {
    font-size: 12px;
    width: 100px;
    margin-bottom: 1rem;
}

input {
    padding: 0.8rem 3rem;
    border-radius: 1rem;
    border: 1px solid gray;
}

button {
    padding: 1rem 1rem;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
}